<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
        <title>Accueil</title>
    </head>
    <body>
        <div class='accueil-content'>
            <img src="/images/logo-univrouen.jpg"
                 alt="Logo Université de Rouen Normandie" width="400" height="150" />

            <h1>Service REST & Client</h1>
            <h4>Version : 1.5</h4>

            <div class='devs'>
                <h2>Développeurs : </h2>
                <ul>
                    <li><h3>Merzeg Ramzi</h3></li>
                    <li><h3>Mokrane Islam</h3></li>
                </ul>
            </div>
        </div>
    </body>
</html>